<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
   <style>
    body{
        background:  #feda75;
    }
   </style>
</head>
<body >
    <h2>Create Post</h2>
    <form action="/posts" method="post">
    <input type="text" placeholder="Enter username" name="username"><br><br>
    <input type="text" name="src" placeholder="Paste the link of photo"><br><br>
    <textarea name="caption" placeholder="Enter caption" rows="6" cols="25"></textarea>
    
    <button>Submit</button>
</form>
</body>
</html>